<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  IgnorableNamespaces="uap mp uap3">

  <Identity
    Name="62155AndreasBalzer.ProjectCoimbra-InternalTest"
    Publisher="CN=DF151369-BF2A-4390-919A-40CE0C57CC96"
    Version="2.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="be0a663b-fb6e-44c1-8ac2-c6d2675762a3" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>Project Coimbra - Internal Test</DisplayName>
    <PublisherDisplayName>Andreas Balzer</PublisherDisplayName>
    <Logo>Assets\Package.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="ProjectCoimbra.App">
      <uap:VisualElements
        DisplayName="ms-resource:DisplayName"
        Description="ms-resource:Description"
        BackgroundColor="#0099BC" Square150x150Logo="Assets\MediumTile.png"  Square44x44Logo="AppTile.png">
        <uap:DefaultTile   Square71x71Logo="Assets\SmallTile.png" Wide310x150Logo="Assets\WideTile.png" Square310x310Logo="Assets\LargeTile.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo"/>
            <uap:ShowOn Tile="square310x310Logo"/>
            <uap:ShowOn Tile="wide310x150Logo"/>
          </uap:ShowNameOnTiles>
        </uap:DefaultTile >
        <uap:LockScreen Notification="badge" BadgeLogo="Assets\Badge.png"/>
        <uap:SplashScreen Image="Assets\Splash.png"/>
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
    <uap:Capability Name="musicLibrary"/>
    <uap3:Capability Name="backgroundMediaPlayback"/>
    <Capability Name="internetClientServer"/>
    <Capability Name="privateNetworkClientServer"/>
    <DeviceCapability Name="gazeInput"/>
  </Capabilities>
</Package>
